DB_USER=postgres
DB_PASSWORD=password
DB_NAME=viide

STORAGE_ENDPOINT=http://localhost:3900
STORAGE_ACCESS_KEY=viide-dev-access
STORAGE_SECRET_KEY=viide-dev-secret
STORAGE_BUCKET=viide

SECRET_KEY=change-me

LDAP_URL=ldaps://ipa.lapikud.ee
LDAP_BASE_DN=dc=lapikud,dc=ee